<main class="col-sm-9 col-md-10 pt-3" role="main">

    <form class="form-inline my-2 my-lg-0">
    <div class="col-sm-12 p-0 mb-3">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>

        <jhi-alert></jhi-alert>

    <div *ngIf="repos" class="row">
        <div class="col-sm-3" *ngFor="let repo of repos">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><a [routerLink]="['/'+repo.full_name]">{{repo.full_name}}</a></h4>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
    </form>
</main>
