
    <div class="mobile-overlay"></div>
    <div class="alert-wrapper">

        <nav class="breadcrumbs" role="navigation">
            <div class="breadcrumbs-container container-fluid container-limited limit-container-width">
                <button name="button" type="button" class="toggle-mobile-nav"><span class="sr-only">Open sidebar</span>
                    <i aria-hidden="true" data-hidden="true" class="fa fa-bars"></i>
                </button><div class="breadcrumbs-links js-title-container">
                <div class="title">
                    <a href="/">GitLab</a>
                    /
                    <a href="/dancewing">dancewing</a> / <a class="project-item-select-holder" href="/dancewing/testing123"><div class="avatar-tile identicon" style="background-color: #E8EAF6; color: #555">T</div>testing123</a>
                </div>
                <h2 class="breadcrumbs-sub-title">
                    <ul class="list-unstyled">
                        <li><a href="/dancewing/testing123/tree/master">Repository</a></li>
                    </ul>
                </h2>
            </div>
                <div class="js-dropdown-menu-projects">
                    <div class="dropdown-menu dropdown-select dropdown-menu-projects">
                        <div class="dropdown-title"><span>Go to a project</span><button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button"><i aria-hidden="true" data-hidden="true" class="fa fa-times dropdown-menu-close-icon"></i></button></div>
                        <div class="dropdown-input"><input type="search" id="" class="dropdown-input-field" placeholder="Search your projects" autocomplete="off" value=""><i aria-hidden="true" data-hidden="true" class="fa fa-search dropdown-input-search"></i><i role="button" aria-hidden="true" data-hidden="true" class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i></div>
                        <div class="dropdown-content"></div>
                        <div class="dropdown-loading"><i aria-hidden="true" data-hidden="true" class="fa fa-spinner fa-spin"></i></div>
                    </div>
                </div>

            </div>
        </nav>

        <div class="flash-container flash-container-page">
        </div>


    </div>
    <div class=" limit-container-width">
        <div class="content" id="content-body">

            <div class="container-fluid container-limited limit-container-width">

                <div class="tree-holder clearfix" id="tree-holder">
                    <div class="nav-block">
                        <div class="tree-ref-container">
                            <div class="tree-ref-holder">
                                <form class="project-refs-form" action="/dancewing/testing123/refs/switch" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="destination" id="destination" value="tree">
                                    <input type="hidden" name="path" id="path" value="">
                                    <div class="dropdown">
                                        <button class="dropdown-menu-toggle js-project-refs-dropdown" type="button" data-toggle="dropdown" data-selected="master" data-ref="master" data-refs-url="/dancewing/testing123/refs" data-field-name="ref" data-submit-form-on-click="true" data-visit="true"><span class="dropdown-toggle-text ">master</span><i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i></button>
                                        <div class="dropdown-menu dropdown-menu-selectable git-revision-dropdown">
                                            <div class="dropdown-title"><span>Switch branch/tag</span><button class="dropdown-title-button dropdown-menu-close" aria-label="Close" type="button"><i aria-hidden="true" data-hidden="true" class="fa fa-times dropdown-menu-close-icon"></i></button></div>
                                            <div class="dropdown-input"><input type="search" id="" class="dropdown-input-field" placeholder="Search branches and tags" autocomplete="off" value=""><i aria-hidden="true" data-hidden="true" class="fa fa-search dropdown-input-search"></i><i role="button" aria-hidden="true" data-hidden="true" class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i></div>
                                            <div class="dropdown-content"></div>
                                            <div class="dropdown-loading"><i aria-hidden="true" data-hidden="true" class="fa fa-spinner fa-spin"></i></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <ul class="breadcrumb repo-breadcrumb">
                                <li>
                                    <a href="/dancewing/testing123/tree/master">testing123
                                    </a></li>
                            </ul>

                        </div>
                        <div class="tree-controls">

                            <a class="btn" href="/dancewing/testing123/commits/master">History</a>
                            <a class="btn shortcuts-find-file" rel="nofollow" href="/dancewing/testing123/find_file/master"><i aria-hidden="true" data-hidden="true" class="fa fa-search"></i>
                                <span>Find file</span>
                            </a>
                            <div class="project-action-button dropdown inline">
                                <button aria-label="Download" class="btn has-tooltip" data-toggle="dropdown" title="Download">
                                    <i aria-hidden="true" data-hidden="true" class="fa fa-download"></i>
                                    <i aria-hidden="true" data-hidden="true" class="fa fa-caret-down"></i>
                                    <span class="sr-only">Select Archive Format</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-align-right" role="menu">
                                    <li class="dropdown-header">
                                        Source code
                                    </li>
                                    <li>
                                        <a rel="nofollow" download="" href="/dancewing/testing123/repository/master/archive.zip"><i class="fa fa-download"></i>
                                            <span>Download zip</span>
                                        </a></li>
                                    <li>
                                        <a rel="nofollow" download="" href="/dancewing/testing123/repository/master/archive.tar.gz"><i class="fa fa-download"></i>
                                            <span>Download tar.gz</span>
                                        </a></li>
                                    <li>
                                        <a rel="nofollow" download="" href="/dancewing/testing123/repository/master/archive.tar.bz2"><i class="fa fa-download"></i>
                                            <span>Download tar.bz2</span>
                                        </a></li>
                                    <li>
                                        <a rel="nofollow" download="" href="/dancewing/testing123/repository/master/archive.tar"><i class="fa fa-download"></i>
                                            <span>Download tar</span>
                                        </a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="info-well hidden-xs project-last-commit append-bottom-default">
                        <div class="well-segment">
                            <ul class="blob-commit-info">
                                <li class="commit flex-row js-toggle-container" id="commit-3ebe1f65">
                                    <div class="avatar-cell hidden-xs">
                                        <a href="/dancewing"><img class="avatar has-tooltip s36 hidden-xs js-lazy-loaded" alt="dancewing's avatar" title="dancewing" data-container="body" src="https://secure.gravatar.com/avatar/489bd1eb932c8399b8d51eb75822015c?s=72&amp;d=identicon"></a>
                                    </div>
                                    <div class="commit-detail">
                                        <div class="commit-content">
                                            <a class="commit-row-message item-title" href="/dancewing/testing123/commit/3ebe1f6563fee058913480ff8aa1eec18eff45a1">add .gitlab-ci.yml</a>
                                            <span class="commit-row-message visible-xs-inline">
·
3ebe1f65
</span>
                                            <div class="visible-xs-inline">
                                                <a class="ci-status-link ci-status-icon-failed " title="Commit: failed" data-toggle="tooltip" data-placement="auto left" data-container="body" href="/dancewing/testing123/commit/3ebe1f6563fee058913480ff8aa1eec18eff45a1/pipelines"><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd"><path d="M0 7a7 7 0 1 1 14 0A7 7 0 0 1 0 7z"></path><path d="M13 7A6 6 0 1 0 1 7a6 6 0 0 0 12 0z" fill="#FFF"></path><path d="M7 5.969L5.599 4.568a.29.29 0 0 0-.413.004l-.614.614a.294.294 0 0 0-.004.413L5.968 7l-1.4 1.401a.29.29 0 0 0 .004.413l.614.614c.113.114.3.117.413.004L7 8.032l1.401 1.4a.29.29 0 0 0 .413-.004l.614-.614a.294.294 0 0 0 .004-.413L8.032 7l1.4-1.401a.29.29 0 0 0-.004-.413l-.614-.614a.294.294 0 0 0-.413-.004L7 5.968z"></path></g></svg>
                                                </a>
                                            </div>
                                            <div class="commiter">
                                                <a class="commit-author-link has-tooltip" title="qbaojian@163.com" href="/dancewing">dancewing</a> committed <time class="js-timeago js-timeago-render" title="" datetime="2017-07-26T14:33:01Z" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="Jul 26, 2017 2:33pm">a month ago</time>
                                            </div>
                                        </div>
                                        <div class="commit-actions hidden-xs">
                                            <a class="ci-status-link ci-status-icon-failed " title="Commit: failed" data-toggle="tooltip" data-placement="auto left" data-container="body" href="/dancewing/testing123/commit/3ebe1f6563fee058913480ff8aa1eec18eff45a1/pipelines"><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd"><path d="M0 7a7 7 0 1 1 14 0A7 7 0 0 1 0 7z"></path><path d="M13 7A6 6 0 1 0 1 7a6 6 0 0 0 12 0z" fill="#FFF"></path><path d="M7 5.969L5.599 4.568a.29.29 0 0 0-.413.004l-.614.614a.294.294 0 0 0-.004.413L5.968 7l-1.4 1.401a.29.29 0 0 0 .004.413l.614.614c.113.114.3.117.413.004L7 8.032l1.401 1.4a.29.29 0 0 0 .413-.004l.614-.614a.294.294 0 0 0 .004-.413L8.032 7l1.4-1.401a.29.29 0 0 0-.004-.413l-.614-.614a.294.294 0 0 0-.413-.004L7 5.968z"></path></g></svg>
                                            </a>

                                            <a class="commit-sha btn btn-transparent" href="/dancewing/testing123/commit/3ebe1f6563fee058913480ff8aa1eec18eff45a1">3ebe1f65</a>
                                            <button class="btn btn-clipboard btn-transparent" data-toggle="tooltip" data-placement="bottom" data-container="body" data-title="Copy commit SHA to clipboard" data-clipboard-text="3ebe1f6563fee058913480ff8aa1eec18eff45a1" type="button" title="Copy commit SHA to clipboard" aria-label="Copy commit SHA to clipboard"><i aria-hidden="true" data-hidden="true" class="fa fa-clipboard"></i></button>

                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="tree-content-holder js-tree-content" data-logs-path="/dancewing/testing123/refs/master/logs_tree/" data-path-locks-available="true" data-path-locks-path="" data-path-locks-toggle="/dancewing/testing123/path_locks/toggle">
                        <div class="table-holder">
                            <table class="table table_da39a3ee5e6b4b0d3255bfef95601890afd80709 tree-table" id="tree-slider">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="hidden-xs">
                                        <div class="pull-left">Last commit</div>
                                    </th>
                                    <th class="text-right">Last Update</th>
                                </tr>
                                </thead>
                                <tbody><tr class="tree-item file_587d266bb27a4dc3022bbed44dfa19849df3044c">
                                    <td class="tree-item-file-name">
                                        <i aria-hidden="true" data-hidden="true" class="fa fa-file-text-o fa-fw"></i>
                                        <a title=".gitlab-ci.yml" href="/dancewing/testing123/blob/master/.gitlab-ci.yml"><span class="str-truncated">.gitlab-ci.yml</span>
                                        </a></td>
                                    <td class="hidden-xs tree-commit"><span class="str-truncated">
<a class="tree-commit-link" href="/dancewing/testing123/commit/3ebe1f6563fee058913480ff8aa1eec18eff45a1">add .gitlab-ci.yml</a>
</span>
                                    </td>
                                    <td class="tree-time-ago cgray text-right"><time class="js-timeago js-timeago-render" title="" datetime="2017-07-26T14:33:01Z" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="Jul 26, 2017 2:33pm">a month ago</time></td>
                                </tr>


                                </tbody></table>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
